<!DOCTYPE html>
<head>
    <title>Go API</title>
    <meta charset="utf-8" />
    <meta content="{{.Description}}" name="description" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <link rel="apple-touch-icon" href="/polyapp-docs/assets/giraffe192.jpg">
    <link rel="shortcut icon" href="/polyapp-docs/assets/giraffe192.jpg">
</head>

<div class="container">
    <h1>Go API</h1>
    
    <p><img src="./search_black_24dp.svg" />&nbsp;Discover APIs</p>
    
    <p><img src="./edit_black_24dp.svg" />&nbsp;Play with APIs</p>
    
    <p><img src="./download_black_24dp.svg" />&nbsp;Get client SDKs</p>
    
    <p><img src="./download_black_24dp.svg" />&nbsp;Get code calling the API</p>
    
    <div class="d-flex flex-column h-100">
        <iframe src="https://go-api-326216.appspot.com/t/Information/Go%20API/HOYbXVgaFbbiopbYaMVURnVHB?ux=NdefyJmmypZsUHgaHMWrzUFaO&schema=cEybUcUNGqjLgsubtSAQJqszA&data=new&altshell=min" title="Tax Dog Demo" style="width: 100%;height:80vh;" class="flex-shrink-0"></iframe></iframe>
    </div>

    <!-- <div id="player"></div> -->
    <!-- <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: 'E1XtO5vNT7k',
            playerVars: {
            'playsinline': 1
            },
            events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
            }
        });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
        event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
        }
        function stopVideo() {
        player.stopVideo();
        }
    </script> -->
</div>

<footer class="py-5 mt-5 bg-light">
    <div class="container py-2">
        <div class="row">
            <div class="col">
                <p>Need help? Email me at: greg@polyapp.tech</p></div>
        </div>
        <div class="row">
            <div class="col">
                <p>Designed and built by Gregory Ledray.</p>
                <p>Code is <a href="https://gitlab.com/polyapp-open-source/polyapp/-/blob/master/LICENSE">MIT licensed</a>.</p>
                <p>This website and the documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
            </div>
            <div class="col">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://gitlab.com/polyapp-open-source/go-api">This Website's Gitlab Repository</a></li>
                    <li class="mb-2"><a href="https://gitlab.com/polyapp-open-source/polyapp">Polyapp's Gitlab repository</a></li>
                    <li class="mb-2"><a href="https://gitlab.com/polyapp-open-source/polyapp-docs/">Polyapp's Documentation Repository</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
